include LICENSE
include README.md
include requirements.txt
include Rfc_Errata/run.py
include Rfc_Errata/__init__.py
include Rfc_Errata/apply_errata.py
include Rfc_Errata/checker.py
include Rfc_Errata/utils.py
include Rfc_Errata/Template/endnoteTemplate.txt
include Rfc_Errata/Template/headnoteTemplate.txt
include Rfc_Errata/Template/htmlTemplate.txt
include Rfc_Errata/Template/inlineNoteTemplate.txt
include Rfc_Errata/Template/sectionNoteTemplate.txt
include Rfc_Errata/css/errata-base.css
include Rfc_Errata/css/errata-color.css
include Rfc_Errata/css/errata-monochrome.css
include Rfc_Errata/css/errata-printer.css
include Rfc_Errata/css/errata.js


